

VITE_SUPABASE_URL=https://zfovsrpnwhhwwzhfulxv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpmb3ZzcnBud2hod3d6aGZ1bHh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3MTI0MTIsImV4cCI6MjA3MjI4ODQxMn0.yx4sVaac1YUHhYBOtZtVWBvT40EukG0Oyac_t-uT4Lo



# Optional: Database URL for Prisma
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.your-project-ref.supabase.co:5432/postgres


